body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    font-family: "Work Sans", sans-serif;
}
img {
    max-width: 100%;
}
/* header */
.my-header {
    font-size: 18px;
}
.my-header img {
    width: 50px;
    display: inline-block;
}
.my-header span {
    font-size: 23px;
    font-weight: 500;
}

/* slider area */
.slider-area {
    background: url("appimg/mbr-10.jpg") no-repeat center center;
    padding: 130px 0;
    position: relative;
    z-index: 1;
}
.slider-area::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.slider-area:hover::after {
}
.slider-content h4 {
    color: white;
    font-weight: 300;
    margin-bottom: 35px;
}
.slider-content h2 {
    font-size: 50px;
    color: white;
    margin-bottom: 35px;
}
.slider-content .form-control {
    padding: 16px 25px;
}
.slider-content .btn {
    background: #5ba533;
    color: white;
    font-weight: 600;
    font-size: 22px;
    padding: 14px 20px;
    border-color: #5ba533;
    transition: 0.4s;
    border-radius: 10px;
}
.slider-content .btn:hover {
    background-color: #000;
    color: white;
    outline: none;
}
/* count area */
.counter-content h1 {
    font-size: 55px;
}
/* blog area */
.blog-area {
    background: #f7f9ff;
}
.blog-text {
    padding-top: 110px;
}
.blog-text p {
    margin-top: 35px;
    line-height: 35px;
}
/* feature area */
.feature-area {
    background: #fdfdfd;
}
.feature-item {
    height: 250px;
}
.feature-item-image {
    width: 40%;
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
}
.feature-item-image img {
    width: auto;
    max-width: inherit;
    position: relative;
    height: 100%;
    left: -15px;
}
.feature-item-text {
    width: 60%;
    padding: 20px;
    transition: 0.3s;
}
.feature-item-text h4 {
    font-size: 20px;
}
.feature-item-text p {
    font-size: 16px;
}
.feature-item:hover .feature-item-text {
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.4);
}
/* portfollio area */
.portfollio-img {
    position: relative;
}
.portfollio-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(105, 90, 205, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
}
.portfollio-img:hover::after {
    visibility: visible;
    opacity: 1;
}

/* pricing area */
.pricing-area {
    background-color: #f7f9ff;
}
.pricing-item {
    box-shadow: 2.5px 4.33px 30px 0 rgba(64, 87, 191, 0.2);
    background-color: #fff;
    padding: 55px;
}
.pricing-item h1 {
}
.pricing-item p {
    font-size: 20px;
    font-weight: 300;
}
.list li {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
}
.list span {
    color: #6278df;
    font-weight: 700;
    display: inline-block;
    width: 30px;
}
.pricing-btn a {
    font-size: 24px;
    font-weight: 500;
    color: #6278df;
    padding: 12px 15px;
    border-radius: 10px;
    border: none;
}
.pricing-item:hover .pricing-btn a {
    background: #6278df;
    color: white;
}

/* testimonial area */
.testimonial-item {
}
.testomonial-user {
    width: 35%;
    margin: auto;
}
.testomonial-user img {
    width: 100px;
}
.user-deatails {
    position: relative;
    top: 20px;
}
.testimonial-item span i {
    font-size: 100px;
    position: relative;
    color: rgba(0, 0, 0, 0.1);
    opacity: 0.6;
}

/* about area */
.about-area {
    background: #f7f9ff;
}
.card-text {
    font-size: 16px;
}
.card-image {
    width: 100px;
    margin-top: -118px;
}
.txtarea {
    resize: none;
}
